.App {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.App-header {
  background-color: #f3d0aeb5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 10%;
}

.Sub-header {
  margin-top: 0;
  margin-bottom: 5%; 
  font-size: calc(25px + 2vmin);
  color: rgb(87, 87, 87);
}

.Title {
  margin-top: 0;
  margin-bottom: 5%;
  font-size: calc(50px + 2vmin);
}

img {
  width: 5%;
  height: 5%;
  margin-bottom: 5%;
}